{{ header }}
<div id="product-product" class="container">
  
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6 productpage' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9 productpage' %}
    {% else %}
    {% set class = 'col-sm-12 productpage' %}
    {% endif %}
    <div id="content" class="{{ class }}">
    <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {{ content_top }}
      <div class="row"> {% if column_left or column_right %}
        
        {% set class = 'col-sm-6 product-left' %}
        {% else %}
        {% set class = 'col-sm-4 product-left' %}
        {% endif %}
        <div class="{{ class }}"> 
    <div class="product-info">    
     {% if thumb or images %}
          <div class="left product-image thumbnails">
         {% if thumb %}      
    <!-- Webdigify Cloud-Zoom Image Effect Start -->
      <div class="image"><a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}"><img id="tmzoom" src="{{ thumb }}" data-zoom-image="{{ popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></div> 
      {% endif %}
      {% if images %}
       {% set sliderFor = 3 %}
      {% set imageCount = images|length %} 
      
     <div class="additional-carousel">  
      {% if imageCount >= sliderFor %}
        <div class="customNavigation">
        <a class="fa prev fa-arrow-left">&nbsp;</a>
      <a class="fa next fa-arrow-right">&nbsp;</a>
      </div> 
     {% endif %}        
      <div id="additional-carousel" class="image-additional {% if imageCount >= sliderFor %}product-carousel{% endif %}">
          
      <div class="slider-item">
        <div class="product-block">   
          <a href="{{ popup }}" title="{{ heading_title }}" class="elevatezoom-gallery" data-image="{{ thumb }}" data-zoom-image="{{ popup }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>
        </div>
        </div>    
        
      {% for  image in images %}
        <div class="slider-item">
        <div class="product-block">   
              <a href="{{ image.popup }}" title="{{ heading_title }}" class="elevatezoom-gallery" data-image="{{ image.thumb }}" data-zoom-image="{{ image.popup }}"><img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>
        </div>
        </div>    
          {% endfor %}        
        </div>
      <span class="additional_default_width" style="display:none; visibility:hidden"></span>
      </div>
    {% endif %}         

  <!-- Webdigify Cloud-Zoom Image Effect End-->
    </div>
    {% endif %}
        </div>
        </div>
        {% if column_left or column_right %}
        {% set class = 'col-sm-6 product-right' %}
        {% else %}
        {% set class = 'col-sm-5 product-right' %}
        {% endif %}
       
        <div class="{{ class }}">
          
          <div class="product-detail-left">
          <h3 class="product-title">{{ heading_title }}</h3>
           {% if review_status %}
          <div class="rating-wrapper">
            {% for i in 1..5 %}
              {% if rating < i %}
                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
              {% else %}
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
              {% endif %}
              {% endfor %}
              <a href="" class="review-count" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}</a>  
              <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;" class="write-review"><i class="fa fa-pencil"></i>{{ text_write }}</a>
          </div>
          {% endif %}
            <div class="description">
        <table class="product-description">
            {% if sku or model %}
            <tr><td><span class="desc">Артикул</span></td><td class="description-right">
              {% if model and sku %}
                {{ model }} ({{ sku }})
              {% elseif model %}
                {{ model }}
              {% elseif sku %}
                {{ sku }}
              {% endif %}
            </td></tr>
            {% endif %}
            
            {% if attribute_groups %}
              {% for attribute_group in attribute_groups %}
                {% for attribute in attribute_group.attribute %}
                  <tr><td><span class="desc">{{ attribute.name }}</span></td><td class="description-right">{{ attribute.text }}</td></tr>
                {% endfor %}
              {% endfor %}
            {% endif %}

            {% if manufacturer %}
            <tr><td><span class="desc">{{ text_manufacturer }}</span></td><td class="description-right"><a href="{{ manufacturers }}">{{ manufacturer }}</a></td></tr>
            {% endif %}
            {% if reward %}
           <tr><td><span class="desc">{{ text_reward }}</span> </td><td class="description-right" >{{ reward }}</td></tr>
            {% endif %}
             {% if stock_qty =='false' %}
           <tr><td><span class="desc">{{ text_stock }}</span> </td><td class="description-right" >
            <span style="color:#ff0000;">{{ stock }}</span>
          </td></tr> {% endif %}
    
          </table>
          {% if stock_qty =='true' %}
          	{% if qty_stock > 0 %}
          	<span class="stock_msg" style="color:#228B22;">Наявність : В наявності</span>
          	{% else %}
          	<span class="stock_msg" style="color:#ff0000;">Наявність : Немає в наявності</span>
          	{% endif %}
          {% endif %}
          <div class="countdown">
            {% if product.specialTime %}
             <div class="count-down clock">
            <div data-countdown="{{ product.specialTime }}" class="countbox hastime"></div>
            </div>	
            {% endif %}
          </div>	
      </div>

          {% if price %}
          <div class="product-price-block">
            {% if sell_by_pack and pack_size > 0 %}
              {# Інформація про продаж упаковками #}
              <div style="margin-bottom: 15px; font-size: 1em; color: #666;">
                Товар продається упаковкою ({{ pack_size }} пар)
              </div>
              
              {# Ціна за пару #}
              <div style="margin-bottom: 15px;">
                <div style="font-size: 1.1em; color: #333;">
                  <strong>ЦІНА :</strong> 
                  {% if special_per_unit_formatted %}
                    {{ special_per_unit_formatted }}
                  {% elseif price_per_unit_formatted %}
                    {{ price_per_unit_formatted }}
                  {% endif %}
                  <span style="font-size: 0.9em; color: #666;"> (за пару)</span>
                </div>
              </div>
              
              {# Ціна за упаковку - жирним текстом #}
              <div style="margin-top: 15px; padding-top: 15px; border-top: 1px solid #eee;">
                <div style="font-size: 1.2em; font-weight: bold; color: #333;">
                  Ціна упаковки ({{ pack_size }} пар): 
                  {% if special_per_pack_formatted is defined and special_per_pack_formatted %}
                    <span style="text-decoration: line-through; color: #999; font-size: 0.9em; font-weight: normal;">
                      {{ price_per_pack_formatted is defined and price_per_pack_formatted ? price_per_pack_formatted : price }}
                    </span>
                    <strong style="color: #d9534f;">{{ special_per_pack_formatted }}</strong>
                  {% elseif price_per_pack_formatted is defined and price_per_pack_formatted %}
                    <strong>{{ price_per_pack_formatted }}</strong>
                  {% elseif not special %}
                    <strong>{{ price }}</strong>
                  {% else %}
                    <span style="text-decoration: line-through; color: #999; font-size: 0.9em; font-weight: normal;">{{ price }}</span>
                    <strong style="color: #d9534f;">{{ special }}</strong>
                  {% endif %}
                </div>
              </div>
            {% else %}
              {# Звичайна ціна для товарів що продаються поштучно #}
              <div style="margin-bottom: 15px;">
                <h2 style="font-size: 2em; font-weight: bold; margin: 0; color: #333;">
                  {% if not special %}
                    {{ price }}
                  {% else %}
                    <span style="text-decoration: line-through; color: #999; font-size: 0.7em;">{{ price }}</span>
                    <span style="color: #d9534f;">{{ special }}</span>
                  {% endif %}
                </h2>
              </div>
            {% endif %}
            
            {% if tax %}
            <div class="price-tax" style="margin-top: 10px; font-size: 0.9em; color: #666;">{{ text_tax }} <span class="product-tax">{{ tax }}</span></div>
            {% endif %}
            {% if points %}
            <div class="rewardpoint" style="margin-top: 10px; font-size: 0.9em; color: #666;">{{ text_points }} {{ points }}</div>
            {% endif %}
            {% if discounts %}
            <div style="margin-top: 15px; padding-top: 15px; border-top: 1px solid #eee;">
              {% for discount in discounts %}
              <div class="discount" style="font-size: 0.9em; color: #666; margin: 5px 0;">{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</div>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          {% endif %}
          <div id="product">
       {% if options %}
            <h3 class="product-option">{{ text_option }}</h3>
            {% for option in options %}
            {% if option.type == 'select' %}
            <div class="form-group{% if option.required %} required{% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for option_value in option.product_option_value %}
                <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                {% if option_value.price %}
                ({{ option_value.price_prefix }}{{ option_value.price }})
                {% endif %} </option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            {% if option.type == 'radio' %}
            <div class="form-group{% if option.required %} required{% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="radio">
                  <label>
                    <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'checkbox' %}
            <div class="form-group{% if option.required %} required{% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'text' %}
            <div class="form-group{% if option.required %} required{% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
            </div>
            {% endif %}
            {% if option.type == 'textarea' %}
            <div class="form-group{% if option.required %} required{% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
            </div>
            {% endif %}
            {% if option.type == 'file' %}
            <div class="form-group{% if option.required %} required{% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
              <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
            </div>
            {% endif %}
            {% if option.type == 'date' %}
            <div class="form-group{% if option.required %} required{% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group date">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'datetime' %}
            <div class="form-group{% if option.required %} required{% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group datetime">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'time' %}
            <div class="form-group{% if option.required %} required{% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group time">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if recurrings %}
            <hr>
            <h3>{{ text_payment_recurring }}</h3>
            <div class="form-group required">
              <select name="recurring_id" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for recurring in recurrings %}
                <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                {% endfor %}
              </select>
              <div class="help-block" id="recurring-description"></div>
            </div>
            {% endif %}
            <div class="form-group qty">
              {% if stock_qty =='true' %} 
              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 op-box qty-plus-minus">
                  {% if sell_by_pack and pack_size > 0 %}
                  {# Для товарів що продаються упаковками: відображаємо кількість упаковок #}
                  <button type="button" class="form-control pull-left btn-number btnminus" disabled="disabled" data-type="minus" data-field="quantity_packs"></button>
                  <input id="input-quantity" type="text" name="quantity_packs" value="1" size="2" class="form-control input-number pull-left" />
                  <input type="hidden" name="quantity" id="quantity-actual" value="{{ pack_size }}" />
                  {% else %}
                  <button type="button" class="form-control pull-left btn-number btnminus" {% if minimum <= 1 %}disabled="disabled"{% endif %} data-type="minus" data-field="quantity"></button>
                  <input id="input-quantity" type="text" name="quantity" value="{{ minimum }}" size="2" class="form-control input-number pull-left" />
                  {% endif %}
                  <input type="hidden" name="product_id" value="{{ product_id }}" />
                  {% if sell_by_pack and pack_size > 0 %}
                  <input type="hidden" name="pack_size" id="pack-size-value" value="{{ pack_size }}" />
                  <input type="hidden" name="sell_by_pack" value="1" />
                  {% endif %}
                   {% if sell_by_pack and pack_size > 0 %}
                   <button type="button" class="form-control pull-left btn-number btnplus" data-type="plus" data-field="quantity_packs"></button>
                   {% else %}
                   <button type="button" class="form-control pull-left btn-number btnplus" data-type="plus" data-field="quantity"></button>
                   {% endif %}
                   </div>
              
              <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>
              
              {% else %}
              <button type="button" id="button" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block disabled">{{ text_outstock }}</button> 
              {% endif %}
          </div>
          
          {# Відображення вартості обраної кількості - після блоку з кількістю та кнопкою купити #}
          {% if sell_by_pack and pack_size > 0 %}
            {% if price_per_pack_numeric is defined and price_per_pack_numeric is not null and price_per_pack_numeric != false and price_per_pack_numeric > 0 %}
              {% set pack_price = price_per_pack_numeric %}
            {% elseif price_numeric is defined and price_numeric %}
              {% set pack_price = price_numeric %}
            {% else %}
              {% set pack_price = 0 %}
            {% endif %}
            {% set unit_price = price_per_unit_numeric ? price_per_unit_numeric : 0 %}
          {% else %}
            {% set pack_price = 0 %}
            {% if price_per_unit_numeric is defined and price_per_unit_numeric is not null and price_per_unit_numeric != false and price_per_unit_numeric > 0 %}
              {% set unit_price = price_per_unit_numeric %}
            {% elseif price_numeric is defined and price_numeric %}
              {% set unit_price = price_numeric %}
            {% else %}
              {% set unit_price = 0 %}
            {% endif %}
          {% endif %}
          <div id="quantity-total-price" 
               style="margin-top: 15px; padding: 10px; background-color: #f5f5f5; border-radius: 4px; clear: both; {% if minimum <= 0 %}display: none;{% endif %}"
               data-sell-by-pack="{% if sell_by_pack and pack_size > 0 %}1{% else %}0{% endif %}"
               data-pack-size="{{ pack_size }}"
               data-price-per-pack="{{ pack_price|replace({' ': ''}) }}"
               data-price-per-unit="{{ unit_price|replace({' ': ''}) }}">
            <div style="font-size: 1.1em; color: #333;">
              <strong>Вартість: <span id="total-price-amount">0</span></strong>
            </div>
            {% if sell_by_pack and pack_size > 0 %}
            <!-- Debug: pack_price={{ pack_price }}, price_per_pack_numeric={{ price_per_pack_numeric }}, price_numeric={{ price_numeric }}, special_numeric={{ special_numeric }}, price={{ price }} -->
            <script>
            console.log('Twig Debug: pack_price={{ pack_price }}, price_per_pack_numeric={{ price_per_pack_numeric }}, price_numeric={{ price_numeric }}');
            </script>
            {% endif %}
          </div>
            </div>

           

           <hr>
       <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style" data-url="{{ share }}"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script> 
            <!-- AddThis Button END --> 
           
            <div class="content_product_block">{{ productblock }}</div>
           
      </div>
     
            </div>
            {# <div class="col-sm-3 product">
            <div class="product-detail-right"></div></div> #}
      </div>
     
          
      {% if tags %}
        <p>{{ text_tags }}
        {% for i in 0..tags|length %}
        {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
        {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
        {% endfor %} </p>
        {% endif %}
      {{ content_bottom }}
    </div>
   
    {{ column_right }}
    
     <!-- product page tab code start-->
     {% if column_left and column_right %}
         {% set class = 'col-sm-6' %}
         {%  elseif column_left or column_right %}
         {% set class = 'col-sm-12' %}
         {% else %}
         {% set class = 'col-sm-12' %}
        {% endif %}
    <div id="tabs_info" class="product-tab {{ class }}">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
            {% if attribute_groups %}
            <li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
            {% endif %}
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-description">{{ description }}</div>
            {% if attribute_groups %}
            <div class="tab-pane" id="tab-specification">
              <table class="table table-bordered">
                {% for attribute_group in attribute_groups %}
                <thead>
                  <tr>
                    <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                  </tr>
                </thead>
                <tbody>
                {% for attribute in attribute_group.attribute %}
                <tr>
                  <td>{{ attribute.name }}</td>
                  <td>{{ attribute.text }}</td>
                </tr>
                {% endfor %}
                  </tbody>
                {% endfor %}
              </table>
            </div>
            {% endif %}
            </div>
      </div>
      <div class="product-review">

        {% if review_status %}
        <a href="#tab-review" data-toggle="tab" class="box-heading">{{ tab_review }}</a>
        {% endif %}
        
      </div>
      {% if review_status %}
            <div class="tab-pane" id="tab-review">
              <form class="form-horizontal" id="form-review">
                <div id="review"></div>
                <h4>{{ text_write }}</h4>
                {% if review_guest %}
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name">{{ entry_name }}</label>
                    <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review">{{ entry_review }}</label>
                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                    <div class="help-block">{{ text_note }}</div>
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label">{{ entry_rating }}</label>
                    &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                    <input type="radio" name="rating" value="1" />
                    &nbsp;
                    <input type="radio" name="rating" value="2" />
                    &nbsp;
                    <input type="radio" name="rating" value="3" />
                    &nbsp;
                    <input type="radio" name="rating" value="4" />
                    &nbsp;
                    <input type="radio" name="rating" value="5" />
                    &nbsp;{{ entry_good }}</div>
                </div>
                {{ captcha }}
                <div class="buttons clearfix">
                  <div class="pull-right">
                    <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
                  </div>
                </div>
                {% else %}
                {{ text_login }}
                {% endif %}
              </form>
            </div>
            {% endif %}
      {% if products %}
      <div class="box related_prd">
        <div class="container">
          <div class="row">
      <div class="box-head"> 
      
      <div class="box-heading">{{ text_related }}</div>
      
      </div>
      <div class="box-content">
      <div id="products-related" class="related-products">
      
      {% set sliderFor = 5 %}
      {% set productCount = products|length %} 
      
      {% if productCount >= sliderFor %}
       <div class="customNavigation">
         <a class="fa prev fa-arrow-left">&nbsp;</a>
         <a class="fa next fa-arrow-right">&nbsp;</a>
       </div>  
      {% endif %}
      
      <div class="box-product {% if productCount >= sliderFor %}product-carousel{% else %}productbox-grid{% endif %}" id="{% if productCount >= sliderFor %}related-carousel{% else %}related-grid{% endif %}">
         {% for product in products %}
      <div class="{% if productCount >= sliderFor %}slider-item{% else %}product-items{% endif %}">
        <div class="product-block product-thumb transition">
           <div class="product-block-inner">     
      <div class="image {% if product.qty == 0 %}outstock{% endif %}">
      {% if product.thumb_swap %}
      <a href="{{ product.href }}">
      <img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive reg-image"/>
      <div class="image_content"><img class="img-responsive hover-image" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}"/>
      </div>
      </a>
      {% else %}
      <a href="{{ product.href }}">
      <img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive"/></a>
      {% endif %}
      
      {% if product.special %}
      <span class="special-tag">{{product.percentsaving}}%</span>
      {% endif %}
      {% if product.qty == 0 %}
             <span class="stock_status">{{text_outstock}}</span>
           {% endif %}
       <div class="countdown">
											{% if product.specialTime %}
											 <div class="count-down clock">
											<div data-countdown="{{ product.specialTime }}" class="countbox hastime"></div>
											</div>	
											{% endif %}
										</div>	
      
      </div>
      <div class="product-details">
      <div class="caption">
      
      
           {% if product.rating %}
            <div class="rating">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
            {% else %}
            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
            {% endif %}
            {% endfor %}
            {#&nbsp;<span style="cursor:pointer;" class="total-review{{ product.product_id }}">({{product.review}})</span>#}
            </div>
           {% endif %}
            {#<span class="product-brand">{{product.brand}}</span>#}
      
            <h4><a href="{{ product.href }} ">{{ product.name }} </a></h4>
            {% if product.price %}
            <p class="price">
            {% if not product.special %}
            {{ product.price }}
            {% else %}
            <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
            {% endif %}
            {% if product.tax %}
            <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
            {% endif %}
            </p>
            {% endif %}
            
           <div class="product_hover_block">
											
            <div class="product_hover_block_inner">
              <button class="compare_button" type="button"  title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');"></button>
              <div class="quickview-button">
              <a class="quickbox"  title="{{ button_quickview }}" href="{{ product.quick }}"></a>
            </div>
            
          </div>
          <div class="action">
            {% if product.qty > 0 %}
                <button type="button" class="cart_button" onclick="cart.add('{{ product.product_id }}');" title="{{ button_cart }}" >{{ button_cart }}</button>
                {% else %}
                <button type="button" class="cart_button out_of_stock" title="{{text_outstock}}" >{{text_outstock}}</button>
            {% endif %}
            </div></div>
          
      
           
      </div>                  
      </div>
      </div>
       </div>
      </div>
      
      {% endfor %}
      </div>
      <span class="related_default_width" style="display:none; visibility:hidden"></span>
      </div>
      </div>
      </div>
      </div>
      </div>
      {% endif %}
    </div>
  </div>
<script type="text/javascript">
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
  $.ajax({
    url: 'index.php?route=product/product/getRecurringDescription',
    type: 'post',
    data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
    dataType: 'json',
    beforeSend: function() {
      $('#recurring-description').html('');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();

      if (json['success']) {
        $('#recurring-description').html(json['success']);
      }
    }
  });
});
</script> 
<script type="text/javascript">
// Реєструємо обробник після завантаження DOM
$(document).ready(function() {
  // Видаляємо всі попередні обробники подій для button-cart
  $('#button-cart').off('click');
  
  // Реєструємо наш обробник події
  $('#button-cart').on('click', function(e) {
    e.preventDefault();
    e.stopPropagation();
    
    console.log('Debug: Button clicked!');
  
  // Для товарів що продаються упаковками: перетворюємо кількість упаковок на кількість пар перед відправкою
  var sellByPack = parseInt($('input[name="sell_by_pack"]').val()) || 0;
  var packSize = parseInt($('input[name="pack_size"]').val()) || 0;
  
  console.log('Debug: sellByPack=', sellByPack, 'packSize=', packSize);
  
  if (sellByPack && packSize > 0) {
    // Оновлюємо фактичну кількість перед відправкою
    var packs = parseInt($('input[name="quantity_packs"]').val()) || 1;
    if (packs < 1) packs = 1;
    var actualQuantity = packs * packSize;
    // Оновлюємо поле quantity (воно має містити кількість штук для кошика)
    var quantityField = $('input[name="quantity"]');
    console.log('Debug: Found quantity field:', quantityField.length, 'current value:', quantityField.val());
    quantityField.val(actualQuantity);
    console.log('Debug: Updated quantity field to:', quantityField.val());
    
    // Приховуємо quantity_packs перед відправкою, щоб не передавати його в кошик
    $('input[name="quantity_packs"]').prop('disabled', true);
    console.log('Debug: packs=', packs, 'packSize=', packSize, 'actualQuantity=', actualQuantity);
  }
  
  // Формуємо дані для відправки (після оновлення quantity)
  var formData = $('#product input[type=\'text\']:not([name="quantity_packs"]), #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea').serialize();
  console.log('Debug: Form data being sent:', formData);
  console.log('Debug: Quantity in form data:', $('input[name="quantity"]').val());
  
  $.ajax({
    url: 'index.php?route=checkout/cart/add',
    type: 'post',
    data: formData,
    dataType: 'json',
    beforeSend: function() {
      $('#button-cart').button('loading');
    },
    complete: function() {
      $('#button-cart').button('reset');
      // Повертаємо quantity_packs після відправки
      if (sellByPack && packSize > 0) {
        $('input[name="quantity_packs"]').prop('disabled', false);
      }
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();
      $('.form-group').removeClass('has-error');

      if (json['error']) {
        if (json['error']['option']) {
          for (i in json['error']['option']) {
            var element = $('#input-option' + i.replace('_', '-'));

            if (element.parent().hasClass('input-group')) {
              element.parent().before('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            } else {
              element.before('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            }
          }
        }

        if (json['error']['recurring']) {
          $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
        }

        // Highlight any found errors
        $('.text-danger').parent().addClass('has-error');
      }

      if (json['success']) {
        $.notify({
          message: json['success'],
          target: '_blank'
        },{
          // settings
          element: 'body',
          position: null,
          type: "info",
          allow_dismiss: true,
          newest_on_top: false,
          placement: {
            from: "top",
            align: "center"
          },
          offset: 0,
          spacing: 10,
          z_index: 2031,
          delay: 5000,
          timer: 1000,
          url_target: '_blank',
          mouse_over: null,
          animate: {
            enter: 'animated fadeInDown',
            exit: 'animated fadeOutUp'
          },
          onShow: null,
          onShown: null,
          onClose: null,
          onClosed: null,
          icon_type: 'class',
          template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-success" role="alert">' +
            '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">&nbsp;&times;</button>' +
            '<span data-notify="message"><i class="fa fa-check-circle"></i>&nbsp; {2}</span>' +
            '<div class="progress" data-notify="progressbar">' +
              '<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
            '</div>' +
            '<a href="{3}" target="{4}" data-notify="url"></a>' +
          '</div>' 
        });

        $('#cart > button').html('<div class="cart_detail"><div class="cart_image"></div><span id="cart-total"> ' + json['total'] + '</span>'  + '</div>');

        //$('html, body').animate({ scrollTop: 0 }, 'slow');

        $('#cart > ul').load('index.php?route=common/cart/info ul li');
      }
    },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
  });
  }); // Закриваємо обробник події click
}); // Закриваємо $(document).ready()
</script> 
<script type="text/javascript">
$('.date').datetimepicker({
  language: '{{ datepicker }}',
  pickTime: false
});

$('.datetime').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: true,
  pickTime: true
});

$('.time').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
  var node = this;

  $('#form-upload').remove();

  $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

  $('#form-upload input[name=\'file\']').trigger('click');

  if (typeof timer != 'undefined') {
      clearInterval(timer);
  }

  timer = setInterval(function() {
    if ($('#form-upload input[name=\'file\']').val() != '') {
      clearInterval(timer);

      $.ajax({
        url: 'index.php?route=tool/upload',
        type: 'post',
        dataType: 'json',
        data: new FormData($('#form-upload')[0]),
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function() {
          $(node).button('loading');
        },
        complete: function() {
          $(node).button('reset');
        },
        success: function(json) {
          $('.text-danger').remove();

          if (json['error']) {
            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
          }

          if (json['success']) {
            alert(json['success']);

            $(node).parent().find('input').val(json['code']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  }, 500);
});
</script> 
<script type="text/javascript">
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
  $.ajax({
    url: 'index.php?route=product/product/write&product_id={{ product_id }}',
    type: 'post',
    dataType: 'json',
    data: $("#form-review").serialize(),
    beforeSend: function() {
      $('#button-review').button('loading');
    },
    complete: function() {
      $('#button-review').button('reset');
    },
    success: function(json) {
      $('.alert-dismissible').remove();

      if (json['error']) {
        $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }

      if (json['success']) {
        $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

        $('input[name=\'name\']').val('');
        $('textarea[name=\'text\']').val('');
        $('input[name=\'rating\']:checked').prop('checked', false);
      }
    }
  });
});

//$(document).ready(function() {
//  $('.thumbnails').magnificPopup({
//    type:'image',
//    delegate: 'a',
//    gallery: {
//      enabled: true
//    }
//  });
//});


$(document).ready(function() {
  var ramswaroop = new URLSearchParams(window.location.search);
  var tarun = ramswaroop.has('review');
  if (tarun == true) {
    setTimeout(function(){ 
      $('html, body').animate({scrollTop: $('#tabs_info').offset().top}, 'slow'); 
      $('a[href=\'#tab-review\']').trigger('click');
    }, 1000);
    return false;
  }
});

$(document).ready(function() {
if ($(window).width() > 767) {
    $("#tmzoom").elevateZoom({
        
        gallery:'additional-carousel',
        //inner zoom         
                 
        zoomType : "inner", 
        cursor: "crosshair" 
        
        /*//tint
        
        tint:true, 
        tintColour:'#F90', 
        tintOpacity:0.5
        
        //lens zoom
        
        zoomType : "lens", 
        lensShape : "round", 
        lensSize : 200 
        
        //Mousewheel zoom
        
        scrollZoom : true*/
        
        
      });
    var z_index = 0;
                  
                  $(document).on('click', '.thumbnail', function () {
                    $('.thumbnails').magnificPopup('open', z_index);
                    return false;
                  });
              
                  $('.additional-carousel a').click(function() {
                    var smallImage = $(this).attr('data-image');
                    var largeImage = $(this).attr('data-zoom-image');
                    var ez =   $('#tmzoom').data('elevateZoom');  
                    $('.thumbnail').attr('href', largeImage);  
                    ez.swaptheimage(smallImage, largeImage); 
                    z_index = $(this).index('.additional-carousel a');
                    return false;
                  });
      
  }else{
    $(document).on('click', '.thumbnail', function () {
    $('.thumbnails').magnificPopup('open', 0);
    return false;
    });
  }
});
$(document).ready(function() {     
  $('.thumbnails').magnificPopup({
    delegate: 'a.elevatezoom-gallery',
    type: 'image',
    tLoading: 'Loading image #%curr%...',
    mainClass: 'mfp-with-zoom',
    gallery: {
      enabled: true,
      navigateByImgClick: true,
      preload: [0,1] // Will preload 0 - before current, and 1 after the current image
    },
    image: {
      tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
      titleSrc: function(item) {
        return item.el.attr('title');
      }
    }
  });
});

$('#custom_tab a').tabs();
 $('#tabs a').tabs();

</script>
<!--for product quantity plus minus-->
<script type="text/javascript">
    //plugin bootstrap minus and plus
    $(document).ready(function() {
    // Перевіряємо чи товар продається упаковками
    var sellByPack = parseInt($('input[name="sell_by_pack"]').val()) || 0;
    var packSize = parseInt($('input[name="pack_size"]').val()) || 0;
    var isPackProduct = (sellByPack && packSize > 0);
    
    // Функція для оновлення фактичної кількості (пар) з кількості упаковок
    function updateActualQuantity() {
      if (isPackProduct && packSize > 0) {
        var packs = parseInt($('input[name="quantity_packs"]').val()) || 1;
        if (packs < 1) packs = 1;
        var actualQty = packs * packSize;
        $('#quantity-actual').val(actualQty);
      }
    }
    
    // Функція для розрахунку та відображення вартості
    function updateTotalPrice() {
      var priceBlock = $('#quantity-total-price');
      var sellByPack = parseInt(priceBlock.data('sell-by-pack')) || 0;
      var packSize = parseInt(priceBlock.data('pack-size')) || 0;
      var pricePerPack = parseFloat(priceBlock.attr('data-price-per-pack')) || 0;
      var pricePerUnit = parseFloat(priceBlock.attr('data-price-per-unit')) || 0;
      
      // Відлагодження
      console.log('Debug: sellByPack=', sellByPack, 'packSize=', packSize, 'pricePerPack=', pricePerPack, 'pricePerUnit=', pricePerUnit);
      
      var quantity = 0;
      if (sellByPack && packSize > 0) {
        // Для товарів що продаються упаковками: беремо кількість упаковок
        quantity = parseInt($('input[name="quantity_packs"]').val()) || 1;
      } else {
        // Для товарів що продаються поштучно
        quantity = parseInt($('#input-quantity').val()) || 1;
        if (quantity < 1) quantity = 1;
      }
      
      console.log('Debug: quantity=', quantity);
      
      if (quantity > 0) {
        var totalPrice = 0;
        
        if (sellByPack && packSize > 0) {
          // Для товарів що продаються упаковками
          if (pricePerPack > 0) {
            // Використовуємо ціну за упаковку
            totalPrice = pricePerPack * quantity;
            console.log('Debug: Using pricePerPack:', pricePerPack, '* quantity:', quantity, '=', totalPrice);
          } else {
            // Якщо ціна за упаковку не встановлена, використовуємо ціну за пару * розмір упаковки
            totalPrice = (pricePerUnit * packSize) * quantity;
            console.log('Debug: Using pricePerUnit * packSize:', pricePerUnit, '*', packSize, '* quantity:', quantity, '=', totalPrice);
          }
        } else {
          // Для товарів що продаються поштучно
          if (pricePerUnit > 0) {
            totalPrice = pricePerUnit * quantity;
            console.log('Debug: Using pricePerUnit:', pricePerUnit, '* quantity:', quantity, '=', totalPrice);
          } else if (pricePerPack > 0) {
            // Fallback: якщо pricePerUnit не встановлено, використовуємо pricePerPack
            totalPrice = pricePerPack * quantity;
            console.log('Debug: Using pricePerPack (fallback):', pricePerPack, '* quantity:', quantity, '=', totalPrice);
          }
        }
        
        console.log('Debug: totalPrice=', totalPrice);
        
        if (totalPrice > 0) {
          // Форматуємо ціну
          var formattedPrice = totalPrice.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, " ") + ' грн';
          priceBlock.show();
          $('#total-price-amount').text(formattedPrice);
        } else {
          priceBlock.hide();
        }
      } else {
        priceBlock.hide();
      }
    }
    
    // Обробка кнопок +/-
    $('.btn-number').click(function(e){
      e.preventDefault();
      var fieldName = $(this).attr('data-field');
      var type = $(this).attr('data-type');
      
      var input;
      if (isPackProduct) {
        input = $("input[name='quantity_packs']");
      } else {
        input = $("input[name='" + fieldName + "']");
      }
      
      var currentVal = parseInt(input.val()) || 1;
      var minValue = 1;
      var maxValue = 999;
      
      if (!isNaN(currentVal)) {
        if (type == 'minus') {
          if (currentVal > minValue) {
            input.val(currentVal - 1).change();
          }
          // Оновлюємо disabled для кнопки мінус
          if (parseInt(input.val()) <= minValue) {
            $(".btn-number[data-type='minus']").attr('disabled', true);
          } else {
            $(".btn-number[data-type='minus']").removeAttr('disabled');
          }
        } else if (type == 'plus') {
          if (currentVal < maxValue) {
            input.val(currentVal + 1).change();
          }
          // Оновлюємо disabled для кнопки мінус (якщо кількість > 1, то мінус активна)
          if (parseInt(input.val()) > minValue) {
            $(".btn-number[data-type='minus']").removeAttr('disabled');
          }
        }
      } else {
        input.val(minValue);
      }
      
      // Оновлюємо фактичну кількість та вартість
      updateActualQuantity();
      updateTotalPrice();
    });
    
    $('.input-number').focusin(function(){
      $(this).data('oldValue', $(this).val());
    });
    
    // Обробка зміни кількості вручну
    $('.input-number').change(function() {
      var minValue = 1;
      var maxValue = 999;
      var valueCurrent = parseInt($(this).val()) || minValue;
      
      // Перевірка мінімального та максимального значення
      if (valueCurrent < minValue) {
        valueCurrent = minValue;
        $(this).val(minValue);
      }
      if (valueCurrent > maxValue) {
        valueCurrent = maxValue;
        $(this).val(maxValue);
      }
      
      // Оновлюємо disabled для кнопок
      if (valueCurrent <= minValue) {
        $(".btn-number[data-type='minus']").attr('disabled', true);
      } else {
        $(".btn-number[data-type='minus']").removeAttr('disabled');
      }
      
      // Оновлюємо фактичну кількість та вартість
      updateActualQuantity();
      updateTotalPrice();
    });
    
    // Оновлюємо вартість при завантаженні сторінки
    updateActualQuantity();
    updateTotalPrice();
    $(".input-number").keydown(function (e) {
    // Allow: backspace, delete, tab, escape, enter and .
    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== - 1 ||
            // Allow: Ctrl+A
                    (e.keyCode == 65 && e.ctrlKey === true) ||
                    // Allow: home, end, left, right
                            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
            }
            });
    });
</script>


{% if (update_price_status is defined and update_price_status) %}
          
          <script type="text/javascript">
          
            $("#product input[type='checkbox']").click(function() {
              changePrice();
            });
            
            $("#product input[type='radio']").click(function() {
              changePrice();
            });
            
            $("#product select").change(function() {
              changePrice();
            });
            
            $("#input-quantity").keyup(function() {
              changePrice();
            });
            
            function changePrice() {
              $.ajax({
                url: 'index.php?route=product/product/updatePrice&product_id={{ product_id }}',
                type: 'post',
                dataType: 'json',
                data: $('#product input[name=\'quantity\'], #product select, #product input[type=\'checkbox\']:checked, #product input[type=\'radio\']:checked'),
                beforeSend: function() {
                  
                },
                complete: function() {
                  
                },
                success: function(json) {
                  $('.alert-success, .alert-danger').remove();
                  
                  if(json['new_price_found']) {
                    $('.new-prices').html(json['total_price']);
                    $('.product-tax').html(json['tax_price']);
                  } else {
                    $('.old-prices').html(json['total_price']);
                    $('.product-tax').html(json['tax_price']);
                  }
                }
              });
            }
          </script>
          
        {% endif %}
 
{{ footer }} 
