<div class="box">
  <div class="box-heading">{{ heading_title }}</div>
  <div class="box-content">
    <ul class="box-category treeview-list treeview">
      {% for category in categories %}
      <li class="{% if category.has_children %}has-children {% endif %}{% if category.category_id == first_open_id %}default-open{% endif %}">
        {% if category.category_id == category_id %}
        <a href="{{ category.href }}" class="active">{{ category.name }} </a>
        {% else %}
        <a href="{{ category.href }}">{{ category.name }}</a>
         {% endif %}
        {% if category.children %}
        <ul class="category-children">
          {% for child in category.children %}
          <li>
            {% if child.category_id == child_id %}
            <a href="{{ child.href }}" class="active">{{ child.name }}</a>
             {% else %}
            <a href="{{ child.href }}">{{ child.name }}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>	
  </div>
</div>
<script type="text/javascript">
$(window).on('load', function() {
  var $tree = $('.box-category.treeview-list');
  if (!$tree.length) {
    return;
  }

  if (!$tree.find('.hitarea').length) {
    $tree.addClass('no-hitarea');
  }

  $tree.find('li.has-children').each(function() {
    var $item = $(this);
    if (!$item.hasClass('collapsable')) {
      $item.addClass('expandable');
    }
  });

  var $firstWithChildren = $tree.children('li.default-open.has-children').first();
  if ($firstWithChildren.length) {
    $firstWithChildren.removeClass('expandable').addClass('collapsable');
    $firstWithChildren.children('ul').show();
  }
});
</script>
